<div id="reserveTable" [hidden]="resulttable">
    <div class="ms-auto mb-3 text-center"><h1>List your revervations</h1></div>
    <table class="container bg-white border border-light rounded-4 table table-hover" id="resertableEle">
        <thead>
            <tr>
                <th class="text-center" *ngFor="let column of headers">{{column}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of contents" id={{row.resultid}}>
                <td class="text-center rownum"><strong>{{row.num}}</strong></td>
                <td class="text-center rowname">{{row.name}}</td>
                <td class="text-center rowdate">{{row.date}}</td>
                <td class="text-center rowtime">{{row.time}}</td>
                <td class="text-center rowemail">{{row.email}}</td>
                <td class="text-center rowdelete" (click)="delete_row(row.resultid)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="text-center ms-auto" id="noreserveTable" [hidden]="noresulttable">
    <h1>
        No reservations to show
    </h1>
</div>